# Kaggle Uno

## Importar Datos al modelo

In [1]:
import pandas as pd
import numpy as np

In [3]:
%%time 
#1mint 7segundos
#creando el inidice de clientes 1min 4
train_clientes = pd.read_excel('train_clientes.xlsx', sheetname='Sheet1')
#train_clientes.reset_index(inplace=True)
#train_clientes.set_index('ID_CORRELATIVO', inplace=True)

train_requerimiento =  pd.read_excel('train_requerimientos.xlsx', sheetname='Sheet1' )

test_clientes = pd.read_excel('test_clientes.xlsx', sheetname='Sheet1')
test_requerimiento = pd.read_excel('test_clientes.xlsx', sheetname='Sheet1')

Wall time: 1min 2s

### Descripción de datos
Existen 70 000 datos en Training_clientes. Hay NAN en Edad y Antiguedad. --> Ver como complementar esos datos y ver si son relevantes. 
Hay más de 10 000 ejemplos, es un buen caso para aplicar redes neuronales.
Se podría hacer un proceso sin esos datos y con esos datos.

En Train Requerimiento hay 51 517 datos.
#### train_clientes.describe()
#### train_requerimiento.describe()
#### en train_requerimiento hay un dictamen que es null

### 1 columna: 
* RANG_INGRESO, de 1 a 9, ingresos 
* RANG_SDO_PASIVO_MENOS0 de 1 a 14, saldo en la cuenta
* RANG_NRO_PRODUCTOS_MENOS0 de 1  a 6

### Varias columnas
* SDO_ACTIVO_MENOS0, créditos

* FLG_SEGURO_MENOS0, seguros

* NRO_ENTID_SSFF_MENOS0

* FLG_SDO_OTSSFF_MENOS0, saldo de efectivo

* NRO_ACCES_CANAL1_MENOS0

* NRO_ACCES_CANAL2_MENOS0

* NRO_ACCES_CANAL3_MENOS0

* NRO_ACCES_CANAL4_MENOS0

### Documentacion

#### Indexing Slicing
http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [ ]:
##https://stackoverflow.com/questions/19384532/how-to-count-number-of-rows-in-a-group-in-pandas-group-by-object
##train.where(train.groupby(['ID_CORRELATIVO']).agg({'ID_CORRELATIVO':['count']})>2)
#train.groupby(['ID_CORRELATIVO']).agg({'ID_CORRELATIVO':['count']})

#ordenar
#train.sort_values(by='ID_CORRELATIVO')
#train_clientes.sort_values(by='ID_CORRELATIVO')
#train_trabajo.sort_values(by=['ID_CORRELATIVO'])

#train_clientes.head()
#group_1=train.groupby(['ID_CORRELATIVO'])
#train_clientes.loc[4,['EDAD','CODMES']]

##https://stackoverflow.com/questions/24980437/pandas-groupby-and-then-merge-on-original-table
#group_1_df=group_1.agg({'cuanto':np.co})
#https://pandas.pydata.org/pandas-docs/stable/indexing.html

In [41]:
aux_1=train_requerimiento.groupby(['ID_CORRELATIVO']).size()
aux_1=pd.DataFrame({'CONTAR':aux_1})
aux_1.reset_index(inplace=True)
###print (aux_1)
train_clientes_requerimiento=pd.merge(train_clientes, aux_1, how='outer', on='ID_CORRELATIVO')

       ID_CORRELATIVO  CONTAR
0                   1       1
1                   2       1
2                   4       5
3                   9       1
4                  13       1
5                  15       1
6                  16       1
7                  17       1
8                  23       1
9                  24       1
10                 27       1
11                 28       2
12                 31       1
13                 32       1
14                 35       1
15                 36       2
16                 38       4
17                 39       1
18                 43       1
19                 46       1
20                 47       1
21                 53       1
22                 62       1
23                 64       1
24                 65       2
25                 68       1
26                 75       1
27                 78       1
28                 80       1
29                 83       1
...               ...     ...
34996           99902       1
34997           99906       1
34998           99907       1
34999           99913       1
35000           99914       1
35001           99918       2
35002           99920       5
35003           99927       2
35004           99929       1
35005           99932       1
35006           99933       1
35007           99941       1
35008           99942       1
35009           99945       1
35010           99949       1
35011           99954       1
35012           99956       2
35013           99962       1
35014           99970       1
35015           99974       1
35016           99977       2
35017           99978       1
35018           99981       3
35019           99982       2
35020           99983       2
35021           99990       1
35022           99993       1
35023           99994       1
35024           99995       2
35025           99996       1

[35026 rows x 2 columns]

In [5]:
train_clientes_requerimiento['CONTAR'].fillna(value=0, inplace=True)
train_trabajo=train_clientes_requerimiento[['ID_CORRELATIVO','CONTAR','ATTRITION']]

In [7]:
train_trabajo.sort_values(by=['ID_CORRELATIVO'])
train_trabajo2= train_trabajo.copy()
train_trabajo2[train_trabajo2['CONTAR']>1]=1
#train_trabajo.groupby(['ID_CORRELATIVO']).size()
#train_trabajo.describe()
#train_trabajo[train_trabajo['CONTAR']>1].describe()

In [30]:
train_requerimiento.dropna(inplace=True) ## borrando NA
train_requerimiento.sort_values(by=['ID_CORRELATIVO','TIPO_REQUERIMIENTO2' ,'CODMES'], inplace=True)
#train_reqrimiento

for i in pd.unique(train_requerimiento['DICTAMEN']):
    print (i)
for i in pd.unique(train_requerimiento['TIPO_REQUERIMIENTO2']):
    print (i)

PROCEDE TOTAL
NO PROCEDE
PROCEDE PARCIAL
Solicitud
Reclamo

In [28]:
train_requerimiento[train_requerimiento['DICTAMEN'].isnull()]

,ID_CORRELATIVO,TIPO_REQUERIMIENTO2,DICTAMEN,CODMES,PRODUCTO_SERVICIO_2,SUBMOTIVO_2
3359,14709,Reclamo,NaN,201205,Producto 09,Submotivo 125

In [ ]:
group_reclamo = train_requerimiento.groupby(['ID_CORRELATIVO','TIPO_REQUERIMIENTO2','DICTAMEN'])

In [ ]:
for group, frame in group_reclamo:
    print (group)

In [ ]:
group_reclamo

In [ ]:
train_requerimiento

In [ ]:
print ("hola")